.footer{
    background-color: rgba($dark,0.8);
    margin-top: 4vh;
    .container{
        height: 15vh;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        padding: 40px;
        align-items: center;;
    }
    .social-footer{
        a{
            margin: 0 10px;
            font-size: 20px;
        }
    }
    .copyright{
        font-size: 20px;
    }
    .navigation{
        a{
            margin: 0 10px;
        }
    }

}
